.git
.github
.venv*
Lib
lib64
Scripts
Include
pyvenv.cfg
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
.coverage
coverage.xml
node_modules
docs
config
test_ha_config
.history
.vscode
.idea
*.log
dist
*.egg-info
